<div class="container">
  <nav>
    <ul class="pagination">
      <li class="page-item" [appClass]="{ disabled: currentPage === 0 }">
        <a class="page-link" (click)="currentPage = currentPage - 1">
          Prev
        </a>
      </li>

      <ng-container *appTimes="images.length; let i = index">
        <li
          class="page-item"
          [appClass]="{
            active: i === currentPage
          }"
          *ngIf="
            (currentPage < 3 && i < 5) ||
            (i >= currentPage - 2 && i <= currentPage + 2)
          "
        >
          <a class="page-link" (click)="currentPage = i">
            {{ i + 1 }}
          </a>
        </li>
      </ng-container>

      <li
        class="page-item"
        [appClass]="{ disabled: currentPage === images.length - 1 }"
      >
        <a class="page-link" (click)="currentPage = currentPage + 1">
          Next
        </a>
      </li>
    </ul>
  </nav>

  <div>
    <h4>
      {{ images[currentPage].title }}
    </h4>
    <img [src]="images[currentPage].url" [alt]="images[currentPage].title" />
  </div>
</div>

<!-- <div [ngSwitch]="currentPage">
  <div *ngSwitchCase="0">It's zero</div>
  <div *ngSwitchCase="1">It's one</div>
  <div *ngSwitchCase="2">It's two</div>
  <div *ngSwitchDefault>It's lit</div>
</div> -->
